<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Employees</h2>
        <hr />
        <div class="table-responsive">

            <table class="table-responsive">
                <tr>
                    <th>Employee&nbsp;Num</th>
                    <th>Full&nbsp;Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Course&nbsp;ID</th>
                </tr>
                {{#each employees}}
                <tr>
                    <td>{{employeeNum}}</td>
                    <td>{{firstName}} {{lastName}}</td>
                    <td><a href="mailto:{{email}}">{{email}}</a></td>
                    <td>{{adressStreet}} {{addressCity}} {{addressProvince}}</td>
                    <td>{{status}}</td>
                    <td>{{course}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>

    {{#unless students}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>

